{% include "header.html" %}

<div class="container p-5 rounded" style="margin-top: 50px; background-color: #f8f9fa;">
    <h2 class="text-center mb-4">Your Order</h2>
    <div class="row">
        {% if orders %}
            {% for order in orders %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm border-light">
                        <img src="../../media/{{ order.pet.pet.image }}" class="card-img-top" alt="{{ order.pet.name }}" style="height: 400px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ order.pet.pet.name }}</h5>
                            <p class="card-text">Age: {{ order.pet.pet.age }} years</p>
                            <p class="card-text">Breed: {{ order.pet.pet.breed }}</p>
                            <p class="card-text">Gender: {{ order.pet.pet.gender }}</p>
                            <p class="card-text">Price: {{ order.pet.pet.price }} Rs</p>
                            <p class="card-text font-weight-bold">Total Price: <span class="text-success">{{ order.pet.total_price }} Rs</span></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm border-light">
                    <div class="card-body">
                        <h5 class="card-title">No Orders Found</h5>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% include "footer.html" %}
